<section class="post-full-comments">
    <div id="disqus_thread" class="disqus hidden"></div>
</section>

{{#contentFor "scripts"}}

<script>
    (function() {
        if (typeof disqusShortName !== 'undefined') {
            $('.disqus').removeClass('hidden');
            var d = document, s = d.createElement('script');
            s.async = true;
            s.src = 'https://' + disqusShortName + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    })();
</script>

{{/contentFor}}
