<span class="date-divider">/</span> <span class="read-time"></span>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script src="/assets/js/countable.js"></script>
<script>
$(document).ready(function () {
    var postContents = $(".post-full-content");

    $(".read-time").each(function(index) {
        var readTime = this;
        Countable.count($(".post-full-content")[index], function(counter) {
            var imageCount = $(".post-full-content img").length;
            var seconds = counter.words / 275 * 60 + imageCount * 12;
            var minutes = Math.ceil(seconds / 60);
            $(readTime).html(minutes + " min read");
        });
    })

    /* Loops over all postContents and update the relevant readTime */

    for (var i = 0; i < postContents.length; i++) {

    }

});
</script>
{{/contentFor}}
