<!DOCTYPE html>
<html>
<head>
    {{> head}}
    {{!-- This tag outputes SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="site-wrapper">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>
    {{> footer}}
    {{ghost_foot}}
    {{> scripts}}

</body>
</html>
